<h1>Listing current_issues</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_issues.each do |current_issue| %>
      <tr>
        <td><%= current_issue.number %></td>
        <td><%#= link_to 'Show', current_issue %></td>
        <td><%#= link_to 'Edit', edit_current_issue_path(current_issue) %></td>
        <td><%#= link_to 'Destroy', current_issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Current issue', new_current_issue_path %>
